.grid-layout{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "b y y"
    "p p pur"
    "o g g"
    ;
}

.pink{
    background-color: rgb(255, 172, 172);
    grid-area: p;

    
}

.blue{
    background-color: rgb(180, 246, 255);
    grid-area: b;
    text-align: center;
}

.yellow{
    background-color: yellow;
    grid-area: y;
    
}

.orange{
    background-color: rgb(255, 205, 112);
    grid-area: o;
    text-align: center;
}

.green{
    background-color: rgb(170, 238, 163);
    grid-area: g;
}

.purple{
    background-color: rgb(209, 163, 238);
    grid-area: pur;
    text-align: center;
}